@model Service

<h2>Service Details</h2>
<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">Category</dt>
        <dd class="col-sm-10">@Model.Category.Name</dd>

        <dt class="col-sm-2">Image</dt>
        <dd class="col-sm-10"><img src="@Model.Image" alt="Service Image" width="100" /></dd>
    </dl>
</div>
<a href="@Url.Action("Index", "Service")" class="btn btn-secondary">Back to List</a>

<hr />
